<div class="map" use:leafletMap={$$props}>
  <slot />
</div>

<style>
  .map {
    width: 100%;
    height: 100%;
  }
</style>

<script>
  import { createEventDispatcher } from 'svelte'
  import makeLeafletMap from './action'

  const dispatch = createEventDispatcher()

  const leafletMap = makeLeafletMap(map => {
    // XXX: wait for the component callbacks to be bound
    setTimeout(() => {
      dispatch('ready', map)
    }, 1)
  })
</script>
