<!-- map constructor options can be passed as action params -->
<div class="map" use:leafletMap={{ center: [51.505, -0.09], zoom: 13 }} />

<style>
  .map {
    width: 100%;
    height: 100%;
  }
</style>

<script>
  import { createEventDispatcher } from 'svelte'
  import { tileLayer } from 'leaflet'
  import makeLeafletMap from '../src/action'

  const dispatch = createEventDispatcher()
  const leafletMap = makeLeafletMap(map => {
    tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map)

    map.on('click', event => dispatch('click', event))
  })
</script>
